@import "tailwindcss";

@theme {
  --color-dark-purple: #24053E;
  --color-davy-grey: #584D62;
  --color-eucalyptus: #44FFA1;
  --color-ghost-white: #FCF8FF;
}

@theme inline {
  --font-sans: var(--font-manrope-family), sans-serif;
  --font-manrope: var(--font-manrope-family), sans-serif;
  --font-fraunces: var(--font-fraunces-family), serif;
  --font-fraunces-semibold: var(--font-fraunces-semibold-family), serif;
}

@layer base {
  body {
    background: white;
    color: var(--color-dark-purple);
    font-family: var(--font-manrope-family), sans-serif;
  }
}
